<h2><span>{{model.text}}</span><span {{action 'deleteExample' model}}>{{fa-icon 'trash-o'}}</span></h2>

{{example-edit example=model              editExample='updateExample'}}

{{#link-to 'examples'}} Back to Examples Summary {{/link-to}}
